/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 03/30/2017 11:18:05 ******/
Create Database RecipeManager
use RecipeManager
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[RecipeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.Recipes] PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON
INSERT [dbo].[Recipes] ([RecipeID], [Name]) VALUES (1, N'Grilled Cheese')
INSERT [dbo].[Recipes] ([RecipeID], [Name]) VALUES (2, N'Pasta Salad')
INSERT [dbo].[Recipes] ([RecipeID], [Name]) VALUES (3, N'Cake')
SET IDENTITY_INSERT [dbo].[Recipes] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0149feb8-99d4-44a1-b1cf-dd98271344e7', N'Arthur Boris', N'ArthurBoris@XYZ.COM', 0, N'AP3SbpRv4CIn4hSIGfCM0L8gskFPHnnn47Ce39lA9tOq2ZbJJ0duEtl69S2Bl4vL+g==', N'365df006-49a1-4ae4-a1e4-5e56c9ec9f8b', NULL, 0, 0, NULL, 1, 0, N'ArthurBoris@XYZ.COM')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'3768b0aa-a74d-4a22-95a2-6001fd4fb9e6', N'Prakash', N'prakashsinghnegi1979@gmail.com', 0, N'AIayMg5FvjzK4DWxwu9YvtnmPKQqO0MS0uvxLbsvkxnN9SX6Is39US9qnJhs+SY/FQ==', N'92e3fb40-0150-4bd1-aa2e-1789daa39034', NULL, 0, 0, NULL, 1, 0, N'prakashsinghnegi1979@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a51d5bad-c0e5-493d-a284-0e3df27a37ed', N'Anastasia Petrov', N'AnastasiaPetrov@XYZ.COM', 0, N'ABp0YGLFGshNiUzUCRGiNjMnUkl8aQRbqd5bR70Egpa74eR/pj3Ju3Gx6qeq8N8egw==', N'291301c1-efe7-4ca1-969d-c5f8746f761b', NULL, 0, 0, NULL, 1, 0, N'AnastasiaPetrov@XYZ.COM')
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[IngredientID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[RecipeID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ingredients] PRIMARY KEY CLUSTERED 
(
	[IngredientID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON
INSERT [dbo].[Ingredients] ([IngredientID], [Name], [RecipeID]) VALUES (1, N'Bread', 1)
INSERT [dbo].[Ingredients] ([IngredientID], [Name], [RecipeID]) VALUES (2, N'Butter', 1)
INSERT [dbo].[Ingredients] ([IngredientID], [Name], [RecipeID]) VALUES (3, N'Cheese', 1)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
/****** Object:  Table [dbo].[UserRecipes]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRecipes](
	[UserRecipeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NULL,
	[RecipeID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRecipes] PRIMARY KEY CLUSTERED 
(
	[UserRecipeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserRecipes] ON
INSERT [dbo].[UserRecipes] ([UserRecipeID], [UserID], [RecipeID]) VALUES (9, N'0149feb8-99d4-44a1-b1cf-dd98271344e7', 1)
INSERT [dbo].[UserRecipes] ([UserRecipeID], [UserID], [RecipeID]) VALUES (10, N'0149feb8-99d4-44a1-b1cf-dd98271344e7', 2)
INSERT [dbo].[UserRecipes] ([UserRecipeID], [UserID], [RecipeID]) VALUES (11, N'0149feb8-99d4-44a1-b1cf-dd98271344e7', 3)
SET IDENTITY_INSERT [dbo].[UserRecipes] OFF
/****** Object:  Table [dbo].[UserIngredients]    Script Date: 03/30/2017 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIngredients](
	[UserIngredientID] [int] IDENTITY(1,1) NOT NULL,
	[UserRecipeID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserIngredients] PRIMARY KEY CLUSTERED 
(
	[UserIngredientID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserIngredients] ON
INSERT [dbo].[UserIngredients] ([UserIngredientID], [UserRecipeID], [IngredientID]) VALUES (1, 9, 1)
INSERT [dbo].[UserIngredients] ([UserIngredientID], [UserRecipeID], [IngredientID]) VALUES (3, 9, 2)
INSERT [dbo].[UserIngredients] ([UserIngredientID], [UserRecipeID], [IngredientID]) VALUES (4, 10, 4)
SET IDENTITY_INSERT [dbo].[UserIngredients] OFF
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Ingredients_dbo.Recipes_RecipeID]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ingredients_dbo.Recipes_RecipeID] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_dbo.Ingredients_dbo.Recipes_RecipeID]
GO
/****** Object:  ForeignKey [FK_dbo.UserIngredients_dbo.Ingredients_IngredientID]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[UserIngredients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserIngredients_dbo.Ingredients_IngredientID] FOREIGN KEY([IngredientID])
REFERENCES [dbo].[Ingredients] ([IngredientID])
GO
ALTER TABLE [dbo].[UserIngredients] CHECK CONSTRAINT [FK_dbo.UserIngredients_dbo.Ingredients_IngredientID]
GO
/****** Object:  ForeignKey [FK_dbo.UserIngredients_dbo.UserRecipes_UserRecipeID]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[UserIngredients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserIngredients_dbo.UserRecipes_UserRecipeID] FOREIGN KEY([UserRecipeID])
REFERENCES [dbo].[UserRecipes] ([UserRecipeID])
GO
ALTER TABLE [dbo].[UserIngredients] CHECK CONSTRAINT [FK_dbo.UserIngredients_dbo.UserRecipes_UserRecipeID]
GO
/****** Object:  ForeignKey [FK_dbo.UserRecipes_dbo.AspNetUsers_UserID]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[UserRecipes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRecipes_dbo.AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserRecipes] CHECK CONSTRAINT [FK_dbo.UserRecipes_dbo.AspNetUsers_UserID]
GO
/****** Object:  ForeignKey [FK_dbo.UserRecipes_dbo.Recipes_RecipeID]    Script Date: 03/30/2017 11:18:05 ******/
ALTER TABLE [dbo].[UserRecipes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRecipes_dbo.Recipes_RecipeID] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[UserRecipes] CHECK CONSTRAINT [FK_dbo.UserRecipes_dbo.Recipes_RecipeID]
GO
